# Ignore node_modules directory
node_modules

# Ignore the build output directory
dist

# Ignore Git related files
.git
.gitignore

# Ignore Docker related files
Dockerfile
.dockerignore

# Ignore editor/IDE specific files
.vscode
.idea

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*~

# Ignore the virtual environment
.venv

# Ignore the directoriy not part of the frontend build
model
.gemini

# Ignore package-lock.json as it's copied explicitly
package-lock.json
